/*цвет текста лого #000000*/
/*цвет основного текста #212121*/
/*вторичный цвет текста #757575*/
/*белый цвет #FFFFFF*/
/*акцент #2196F3*/
/*цвет фона героя #2F303A*/
/*вторичный цвет фона #F5F4FA*/
/*фон футера #2F303A*/

:root {
  --logo-color: #000000;
  --primary-text-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --background-footer-color: #2f303a;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --background-button-portfolio: #f5f4fa;

  --card-set-gap: 30px;
}

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

/*скрытый элемент*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  outline: 2px solid tomato;
}
/*шапка*/
.page-header {
  display: flex;
  align-items: center;
  min-height: 80px;

  letter-spacing: 0.02em;
  font-size: 14px;
  line-height: 1.14;
  font-weight: 500;
}

/*.page-header.container {
  display: flex;
  align-items: center;
}*/
.main-nav {
  display: flex;
  align-items: center;
}

/*лого*/
.logo-header {
  color: var(--logo-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo-header > span {
  color: var(--accent-color);
}

.logo-header.logo-footer {
  margin-bottom: 22px;

  color: var(--white-color);
}

/*навигация сайта*/
.site-nav {
  display: flex;
  align-items: center;
  margin: 0;
  margin-left: 93px;
  padding: 0;
}

.site-nav .item + .item {
  margin-left: 50px;
}
/*.site-nav .item:last-child {
  margin-right: 0;
}*/

/*другой способ убрать справа марджин
задать всем элементам марджин 50, кроме последнего*/
/*.site-nav.item: not(: last-child) {
  margin-right: 50px;
}*/

.site-nav a {
  color: var(--primary-text-color);
}

.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}

/*подсветка активной страницы*/
.site-nav .current {
  color: var(--accent-color);
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

/*обратная связь*/
.contacts-nav {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.contacts-nav .item + .item {
  margin-left: 50px;
}

.contacts-nav a {
  color: var(--text-color);
}

.contacts-nav a:hover,
.contacts-nav a:focus {
  color: var(--accent-color);
}

/*герой*/
.hero {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 94px;

  background-color: #2f303a;
  color: var(--white-color);
  letter-spacing: 0.06em;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
}

/*кнопка героя*/
.button-hero {
  border-radius: 4px;
  border-width: 0;
  padding: 10px 32px;
  display: inline-block;
  min-width: 136px;

  color: var(--white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  text-align: center;
}

/*секции*/
.section {
  margin-bottom: 94px;
  letter-spacing: 0.03em;
  outline: 2px solid teal;
}

.section.background {
  background-color: var(--background-button-portfolio);
}

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

/*перечень особенностей*/
.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  text-align: left;
  background-color: orchid;
}

.features-list .item {
  width: 270px;
  background-color: honeydew;
}

.features-list .item + .item {
  margin-left: 30px;
}

.features-list h3 {
  padding: 0;
  margin: 0;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-list p {
  padding: 0;
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

*.flex {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.flex .item + .item {
  margin-left: 30px;
}

/*список команды*/
.team-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  line-height: 1.19;
}
.team-list h3 {
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
}

.team-list p {
  padding: 0;
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.team-list .item + .item {
  margin-left: 30px;
}

.team-content {
  padding-top: var(--card-set-gap);
  padding-bottom: var(--card-set-gap);
}
/*футер*/
.footer {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  min-height: 252px;

  background-color: var(--background-footer-color);
  color: var(--white-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.footer p {
  margin: 0;
  padding: 0;
  padding-bottom: 9px;
}

.footer p:last-child {
  padding-bottom: 0;
}

.footer .contacts {
  padding: 0;
  color: var(--footer-text-color);
}

.address-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 58px;
}
/*СТРАНИЦА ПОРТФОЛИО*/
/*радио-кнопки на странице Портфолио*/
.button-portfolio {
  border-radius: 4px;
  border-width: 0;
  padding: 6px 22px;
  display: inline-block;
  min-width: 73px;

  color: var(--primary-text-color);
  background-color: var(--background-button-portfolio);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  align-items: center;
  text-align: center;
}

.button-portfolio:hover,
.button-portfolio:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.button-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0;
  margin-top: 94px;
  margin-bottom: 34px;
  padding: 0;
  padding-bottom: 16px;
}

.button-portfolio {
  display: flex;
  margin-right: 8px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  margin-top: calc(-1 * var(--card-set-gap));
  margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio-item {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);

  outline: 1px solid red;
}

/*заголовки в списке портфолио*/
.portfolio-title {
  margin: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.pfl-content {
  padding: 20px 24px;
}
/*текст в списке портфолио*/
.portfolio-text {
  margin: 0;

  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}
